<section class="w-3/4 mx-auto">

  <h1 class="text-green-600 text-xl font-meduim my-5">{{'resetnewpassword.resetNewPassword' | translate}}</h1>

  @if(errMsg()){
  <div class="p-4 mb-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft" role="alert">
    <span class="font-medium">{{'resetnewpassword.dangerAlert' | translate}}</span> {{errMsg()}}
  </div>
  }

  <form [formGroup]="resetNewPasswordForm" (ngSubmit)="submitresetNewPasswordForm()">

    <div class="mb-3">
      <label for="email" class="block mb-1 text-sm font-medium text-heading">{{'login.email' | translate}}</label>
      <input formControlName="email" type="email" id="email"
        class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-green-600 focus:border-green-600 block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
        placeholder="{{'login.emailPlaceholder' | translate}}" required />
      @if(resetNewPasswordForm.get('email')?.errors && resetNewPasswordForm.get('email')?.touched){
      <div class="p-1 text-sm text-fg-danger-strong rounded-base bg-danger-soft" role="alert">
        @if(resetNewPasswordForm.get('email')?.errors?.['required']){
        <p>{{'login.emailRequired' | translate}}</p>
        }
        @else if(resetNewPasswordForm.get('email')?.errors?.['email']){
        <p>{{'login.emailNotValid' | translate}}</p>
        }
      </div>
      }
    </div>

    <div class="mb-3">
      <label for="newPassword" class="block mb-1 text-sm font-medium text-heading">{{'login.password' |
        translate}}</label>
      <input formControlName="newPassword" type="newPassword" id="newPassword"
        class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-green-600 focus:border-green-600 block w-full px-3 py-2.5 shadow-xs placeholder:text-body"
        placeholder="{{'login.passwordPlaceholder' | translate}}" required />
      @if(resetNewPasswordForm.get('newPassword')?.errors && resetNewPasswordForm.get('newPassword')?.touched){
      <div class="p-1 text-sm text-fg-danger-strong rounded-base bg-danger-soft" role="alert">
        @if(resetNewPasswordForm.get('newPassword')?.errors?.['required']){
        <p>{{'login.passwordRequired' | translate}}</p>
        }
        @else if(resetNewPasswordForm.get('newPassword')?.errors?.['pattern']){
        <p>{{'login.passwordNotValid' | translate}}</p>
        }
      </div>
      }
    </div>

    <button [disabled]="resetNewPasswordForm.invalid" class="btn-main mb-5 block ms-auto">
      @if(isLoading()){
      <span><i class="fa-solid fa-spinner fa-spin"></i></span>
      }
      @else{
      <span>{{'resetnewpassword.submit' | translate}}</span>
      }

    </button><!--(click)="submitresetNewPasswordForm()" ms-auto -->


  </form>

</section>